audio
{
  display: none;
}

#audioPlayer
{
  
}

#playlist
{
  list-style: disc;
  margin: 0 auto;
}

#playlist li a
{
  color: #e0e0e0;
  text-decoration: underline;
  text-underline-offset: 8px;
  
  text-decoration-thickness: 0.1rem;

  font-size: 125%;
}

#playlist li:not(:last-child) 
{
  margin-bottom: 15px;
}

#playlist .current-song a
{
  color: #fbff00;
  font-size: 145%;
}

#playlist .current-song
{
  animation-name: song-playing;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
